* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.bar {
  text-align: center;
}

.bar > h2 {
  margin-top: 10px;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h1 {
  color: crimson;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  transition: 1s ease-in-out;
}

.app__stats :hover {
  transform: scale(0.9);
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__information > h3 {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__detail {
  margin: 40px;
}

@media (max-width: 960px) {
  .app {
    flex-direction: column;
  }
}
